.popup__input {
    border: 0;
    outline: none;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    min-height: 27px;
}