.popup__container {
    position: relative;
    display: flex;
    background-color: white;
    border-radius: 10px;
    width: 90vw;
    max-width: 430px;
    min-height: 330px;
    margin: 195px auto 0;
    padding: 0;
}

@media screen and (max-width: 550px) {
    .popup__container {
        margin: 123px auto 0;
        max-width: 282px;
        min-height: 322px;
    }
}