.profile {
    align-items: center;
    align-content: center;
    max-width: 100%;
    gap: 30px;
    display: grid;
    margin: 0 auto 51px;
    grid-template-columns: repeat(2, max-content) 1fr;
    padding: 0;
}

@media screen and (max-width: 920px) {
    .profile {
        grid-template-columns: 1fr;
        margin: 0 auto 36px;
    }
}

