.popup__close {
    max-width: 32px;
    cursor: pointer;
    position: absolute;
    right: -40px;
    top: -40px;
}

@media screen and (max-width: 380px) {
    .popup__close {
        max-width: 20px;
        right: 0px;
    }
}