.popup__save-btn {
    border: 0;
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    background: black;
    color: white;
    min-height: 50px;
    cursor: pointer;
    padding: 0;
    margin-top: 0;
}

.popup__save-btn:hover {
    opacity: 0.8;
}

@media screen and (max-width: 550px) {
    .popup__save-btn {
        font-size: 14px;
        line-height: 17px;
    }
}